<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block 'title'}}My Site{{/block}}</title>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    {{block 'head'}}
    <link rel="stylesheet" href="main.css">
    {{/block}}
</head>
<body>
    {{block 'content'}}{{/block}}


    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap3/js/bootstrap.js"></script>
    {{block 'script'}}

    {{/block}}
</body>
</html>